table.rcxformdhtmltextarea a {
    padding: 0px;
}

.rcxcode {
	border-style : dashed;
	border-width : 1px;
	padding : 0px 5px 0px 5px;
}
.rcxquote {
	border-style : dashed;
	border-width : 1px;
	padding : 0px 5px 0px 5px;
}
.errhandler {
	border-style : dashed;
	border-width : 1px;
	padding : 0px 5px 0px 5px;
	background-color: #F8F8FF;
	color: Gray;
}
body {
	direction : ltr; /* Change to rtl for Right-To-Left languages */
	unicode-bidi : embed;
}
.nowraps
{
	white-space: nowrap;	
}
/* fast hack to secure menu if using old versiontheme */
#hmenu a {
  	display: block;
	margin: 0;
	text-indent: 5px;
	font : bold 10px Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
   border-bottom: 1px solid #777777;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #777777;
	border-top: 1px solid #cccccc;
   width: 100%;
	padding: 3px;
}

#hmenu2 a {
  	display: block;
	margin: 0;
	text-indent: 25px;
	font : bold 10px Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
   border-bottom: 1px solid #777777;
	border-left: 3px solid #990000;
	border-right: 1px solid #777777;
	border-top: 1px solid #cccccc;
   width: 100%;
	padding: 3px;
}

/* sysmenu*/
.KPstor{
	font-size: 20px;
	color: #1E90FF;
	background-color: White;
	background: no-repeat left top;
	font-weight: bold;
	height: 40px;
	vertical-align: middle;
	padding: 10px 0 0 50px;
	border-bottom: 3px solid #1E90FF;
}


.KPindex{
	padding: 4px;
	vertical-align: top;
	background-color: White;
}
.KPmellem{
	font-weight: bold;
	font-size: 14px;
	color: #FF4500;
	vertical-align: middle;
		padding: 10px 0 0 50px;
		background-color: White;

}

div.kpicon{
	margin: 3px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: normal;

}
div.kpicon a { 
	display: block; float: left;
	height: 80px !important;
	height: 80px; 
	width: 90px !important;
	width: 90px; 
	vertical-align: middle; 
	text-decoration : none;
	border: 1px solid #CCCCCC;
	padding: 2px 5px 1px 5px;
	margin: 3px;
	color: #666666;
	text-align: center;
}
div.kpicon a:hover{
	background-color: #FFF6C1;
	border: 1px solid #FF9900;
	color: #1E90FF;

}

div.kpicon img { margin-top: 8px; margin-bottom: 8px; }

div.kpicon span {
	font-size: 11px;
	font-weight: normal;
	display: block;
}
div.kpicon span.uno{
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	color: Blue;
}
div.kpicon span.unor{
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	color: #CC0000;
}


/*div.kpicon{
	margin: 20px !important;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	
}
div.kpicon a { 
	display: block; 
	float: left !important;
	height: 80px !important;
	height: 80px; 
	width: 80px !important;
	width: 80px; 
	vertical-align: middle; 
	text-decoration : none;
	border: 1px solid white;
	padding: 2px 5px 1px 5px;
	margin: 3px;
	color: #666666;
}
div.kpicon a:hover{
	background-color: #FFF6C1;
	border: 1px solid #FF9900;
	color: #1E90FF;

}
*/
.fbund{
	font-size: 20px;
	color: #1E90FF;
	background-color: White;
	background: no-repeat left top;
	font-weight: bold;
	height: 40px;
	vertical-align: middle;
	padding: 10px 0 0 50px;
	border-bottom: 3px solid #1E90FF;
}

.ftop{
	font : bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #FF4500;
		height: 40px;

	vertical-align: middle;
	padding: 10px 0 0 50px;
}
/* sysmenu slut */

.sysbody {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	font-size: 11px;
	background: White;

	background-image: url(../images/system/sys_bg.jpg);
}

.sysbg1{
		color: #0F0F0F;
	background-color: White;
}
.sysbg1a{
		color: white;
	background-color: white;
}
.sysbg2{
		background: #F0F8FF;
	border: 1px solid #F0FCFF;

}
.sysbg3{
		color: #0F0F0F;
	background-color: #E4F0FE;

}
.sysbg4{
		background-color: red;
	padding: 5px;

}
#admintop{
	background-image: url(../images/system/admintopbg.jpg);
}
.sysinf1{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-size: 11px;
}

/**
*10 CSS Notifications
*Author:http://www.paulund.co.uk/
*Created:30/05/11
*/

/*Boxes*/

/*Setup all boxes*/
.info,.success,.error,.warning,.tip,.secure,.message,.download,.purchase,.print{
margin:20px 50px; 
padding:10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
/*-moz-box-shadow: 4px 4px #dfe1d8;
-webkit-box-shadow: 4px 4px #dfe1d8;
box-shadow: 4px 4px #dfe1d8;*/
}

/*Styling for text inside boxes*/
h4 { margin:5px 5px 5px 80px;padding:0; font-size:16px; }
p { font-size:10px; color:#000; margin:5px 5px 5px 80px; }

.info{border:1px solid #0e7fad;color:#0e7fad;background:#c0e9fa url('../images/notification/info.png') no-repeat; background-position:30px 20px;}
.success{border:1px solid #4f8746;color:#4f8746;background:#d4ffcd url('../images/notification/success.png') no-repeat; background-position:30px 20px;}
.error{border:1px solid #641f1a;color:#641f1a;background:#ffd2d4 url('../images/notification/error.png') no-repeat; background-position:30px 20px;}
.warning{border:1px solid #9d9c49;color:#9d9c49;background:#fdfdcb url('../images/notification/warning.png') no-repeat; background-position:30px 20px;}
.tip{border:1px solid #c77d10;color:#c77d10;background:#f9d69e url('../images/notification/tip.png') no-repeat; background-position:30px 20px;}
.secure{border:1px solid #9638f1;color:#9638f1;background:#e5cefc url('../images/notification/secure.png') no-repeat; background-position:30px 20px;}
.message{border:1px solid #000;color:#000;background:#efefef url('../images/notification/message.png') no-repeat; background-position:30px 20px;}
.download{border:1px solid #04b5eb;color:#04b5eb;background:#f7f7f7 url('../images/notification/download.png') no-repeat; background-position:30px 20px;}
.purchase{border:1px solid #426164;color:#426164;background:#c2e1e3 url('../images/notification/purchase.png') no-repeat; background-position:30px 20px;}
.print{border:1px solid #3c4b5e;color:#3c4b5e;background:#c8d9e3 url('../images/notification/print.png') no-repeat; background-position:30px 20px;}

